.rectangle {
    height: 100px;
    opacity: 0.6;
    transition: opacity 500ms ease;
    box-sizing: border-box;
}
#rectangle1{
    background-color: rgb(243, 89, 192);
}
#rectangle2{
    background-color: rgb(19, 89, 219);
}
#rectangle3{
    background-color: rgb(52, 189, 52);
}
#rectangle4{
    background-color: rgb(252, 172, 23);
}
.oculto{
    display: none;
}

.error {
    border: 5px solid red;
}

.correct {
    border: 5px solid green;
}

#turn{
    font-weight: bold;
}

.player {
    color: green;
}

.computer{
    color: blue;
}

#game-over {
    color: red;
    font-weight: bold;
}

.next{
    font-weight: bold;
    border: 2px solid blueviolet;
}