.row {
    display: flex;
}

.cuadro {
    flex-basis: calc(50% - 10px); /* El ancho inicial que desees */
    max-width: calc(10% - 100px); /* El ancho máximo que desees */
    min-width: 100px;
    height: 100px;
    opacity: 0.6;
    transition: opacity 500ms ease;
    box-sizing: border-box;
}
#cuadro1{
    background-color: rgb(243, 89, 192);
}
#cuadro2{
    background-color: rgb(19, 89, 219);
}
#cuadro3{
    background-color: rgb(86, 236, 86);
}
#cuadro4{
    background-color: rgb(252, 172, 23);
}
.oculto{
    display: none;
}

.error {
    border: 5px solid red;
}

.correct {
    border: 5px solid green;
}

#turno {
    font-weight: bold;
    color: blue;
}

#game-over {
    color: red;
    font-weight: bold;
}